.example-card {
  max-width: 55%;
}

.my-message-card {
  background-color: darkcyan;
  color: lightcyan;
  margin-left: auto;
}

.other-message-card {
  background-color: lightcyan;
  color: darkcyan;
  margin-right: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  z-index: 10;
  top: 0;
}

.toolbar-action-container {
  display: flex;
}
